*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

/* Header */
.header {
  background-color: #1f2937;
  padding: 1rem;
  color: white;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.menu ul {
  display: flex;
  gap: 1rem;
}

.menu a {
  color: #e5e7eb;
  font-size: 18px;
}
/* Header */

/* Hero */
.hero {
  width: 100%;
  min-height: calc(100vh - 74px);
  background-color: #1f2937;
}

.hero .container {
  min-height: calc(100vh - 74px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text,
.hero-img {
  flex-basis: 45%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
}

.hero-text h2 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-text p {
  color: #e5e7eb;
  font-size: 18px;
  line-height: 1.5;
}

.hero-btn button {
  background-color: #3882f6;
  border: none;
  color: #e5e7eb;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-weight: bold;
}
/* Hero */

/* Informacion */
.informacion {
  background-color: white;
  padding: 4rem 0;
  text-align: center;
  min-height: 350px;
}

.informacion .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  min-height: 350px;
}

.info-header h3 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.info-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.info-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.fa-info-circle {
    color: #1f2937;
    font-size: 4rem;
}

.info-card p {
    line-height: 1.5;
}
/* Informacion */

/* Cita */
.cita {
  min-height: 350px;
  background-color: #e5e7eb;
  padding: 4rem;
}

.cita .container {
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cita-text {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
  line-height: 1.5;
}

.cita-author {
  text-align: right;
  font-size: 1.5rem;
  font-weight: bold;
  color: #646464;
}
/* Cita */